# MongoDB 
MONGODB_URI=MONGODB_URI=mongodb://localhost:27017/note-to-you
# Google OAuth mongodb+srv://lablackhatc_db_user:cRoHdY7JgVbSEMe8@cluster0.1sfxfrk.mongodb.net/?appName=Cluster0
GOOGLE_CLIENT_ID=662826728948-t9ft28qtjn8nkodh9209796sl4576sem.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=yGOCSPX-710TRgOrZtxyBVaEDMGrvWdW4lqL
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Session
SESSION_SECRET=pauline_ramos_medrano

# Cloudinary
CLOUDINARY_CLOUD_NAME=djh71avtm
CLOUDINARY_API_KEY=772392117367633
CLOUDINARY_API_SECRET=T_4XY7kb5HwuUXkw7hhejrIxpvw

# App
PORT=3000
NODE_ENV=development
